table, tr, td ,th {
    border: 1px solid black;
}
*{
    margin:0;
    padding: 0;
	box-sizing: content-box;

}

body{
    width: 100%;
}

/***************NAV*******************/
nav#nav1{
    width: 100%;
    background-color: aquamarine;
    max-height: 150px;
    
}
nav#nav1 img{
    width:11.71875%;
    height: auto;
    display:inline-block;
    margin-left: 3.125%;
    max-height: 150px;
    max-width: 150px;
   
}
nav#nav1 h1{
    display:block;
    float:right;
    margin-top: 30px;
    margin-right: 34.375%;
    width: 31.25%;
    font-size:4em;
}
nav#nav2{
    display: none;
}
/*************Aside***************/
aside{
    background-color: coral;
    width: 10.9375%;
    display:block;
    float:left;
    padding: 0.78125%;
    min-height: 700px;
}
aside ol{
    list-style: none;
    width: 100%;
}
aside ol li#principal{
    margin:0;
    padding: 0;
    width: 100%;
    font-size:0.75em;
}
aside ol li{
    margin: 0 3.571428571428571% 0 3.571428571428571%;
    width:85.71428571428571%;
    padding: 3.571428571428571%;
}
aside ol li.resaltado:hover{
    background-color: brown;
}

/**********Div de la parte util***********/
div#util{
    background-color:bisque;
    width: 87.5%;
    display:block;
    float:left;
    min-height: 700px;
    padding-top: 20px;
}
div#util h1{
    margin-left: 36.60714285714286%;
    width:26.78571428571429%;
    font-size:2em;
}
div#util div{
    background-color: lightblue;
    margin-left: 14.28571428571429%;
    width: 67.85714285714286%;
    padding: 1.785714285714286%;
    min-height: 400px;
}
div#util div label{
    display:inline-block;
    width: 13.02083333333333%;
    margin-right: 1.953125%;
}
div#util div textarea{
    border-width:2px;
    width: 32.03125%;
    margin-top: 40px;
    margin-right: 3.90625%;
}
div#util div input {
    width: 32.03125%;
    margin-top: 40px;
}
div#util div input.izq{
    margin-right: 3.90625%;
}
div#util div input[type=button] {
    width: 20.3125%;
}
div#util div input[type=button].cancelar {
    margin-right: 5.859375%;
}
/*Media 1 900 px de ancho*/
@media only screen and (max-width: 950px) {
    nav#nav1 h1{
        font-size:2.5em;
    }
    div#util h1{

        font-size:1.5em;
    }
    aside{
        display: none;
    }
    div#util{
        width: 100%;
    }
    div#util div{
        margin-left: 6.28571428571429%;
        width: 83.85714285714286%;
    }
    nav#nav2{
        display: block;
        width: 100%;
        background-color: coral;
        min-height: 70px;
    }
    nav#nav2 ol{
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav#nav2 ol li{
        float:left;
        margin: 0 3.571428571428571% 0 3.571428571428571%;
        padding: 3.571428571428571%;
    }
    nav#nav2 ol li.resaltado:hover{
        background-color: brown;
    }
    
    
}
@media only screen and (max-width: 675px) {
    nav#nav1 h1{
        margin-top: 5px;
        margin-right: 20.375%;
        width: 59.25%;
    }
    div#util{
        padding-top: 10px;
    }
    div#util h1{  
        margin-left: 13.60714285714286%;
        width:72.78571428571429%;
        font-size:2em;
    }
    aside{
        display: none;
    }
    div#util div{
        margin-left: 0.28571428571429%;
        width: 95.85714285714286%;
    }
    nav#nav2{
        display: block;
        width: 100%;
        background-color: coral;
        min-height: 40px;
    }
    nav#nav2 ol{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav#nav2 ol li{
        float:left;
        margin: 0 1.571428571428571% 0 1.571428571428571%;
        padding: 2.571428571428571%;
        width:25%;
    }
    nav#nav2 ol li.resaltado:hover{
        background-color: brown;
    }

    div#util div label{
        display:inline-block;
        width: 26.02083333333333%;
        margin-right: 3.906250%;
    }
   
    div#util div input {
        width: 64.03125%;
        margin-top: 20px;
        margin-right: 4.90625%;
    }
    div#util div textarea{
        border-width:2px;
        width: 64.03125%;
        margin-top: 20px;
        margin-right: 4.90625%;
    }
    div#util div input.izq{
        margin-right: 4.90625%;
    }
    div#util div input[type=button] {
        float:right;
        width: 20.3125%;
    }
    div#util div input[type=button].cancelar {
        margin-right: 5.859375%;
    }

}